@import url(./__container/popup__container.css);
@import url(./__exit/popup__exit.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__image-container/_pic/popup__image-container_pic.css);
@import url(./__image-container/_title/popup__image-container_title.css);

.popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s, opacity 1s ease;
}
