@import url(./fonts/fonts.css);

.page {
    background-color: #000;
    max-width: 1280px;
    font-family: "Inter", Arial, sans-serif;
    margin: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;*/
    text-rendering: optimizeLegibility;
    position: relative;
    z-index: 0;
}

.header {
    border-bottom: 1px solid #545454;
    max-width: 68.75%;
    margin: 0 auto 0;
    padding-top: 45px;
    padding-bottom: 41px;
}

.header__img {
}

@media screen and (max-width: 680px) {
    .header__img {
        width: 126px;
        height: 24px;
    }
}

.popup__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
    display: none;
}

/* this class allows the edit profile pop-up to appear when toggled off/on with js */
.popup__opened {
    display: flex;
}

.edit-box__exit {
    position: absolute;
    height: 40px;
    left: 66.15%;
    right: 30.73%;
    top: 150px;
}

@media screen and (max-width: 760px) {
    .edit-box__exit {
        left: 85%;
    }
}

.edit-box__exit:hover {
    opacity: 0.6;
}

.edit-box {
    width: 33.59%;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 195px;
    z-index: 3;
}

@media screen and (max-width: 760px) {
    .edit-box {
        width: 88.125%;
        height: 322px;
    }
}

.edit-box__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;  
    color: #000000;
    width: 330px;
    height: 23px;
    margin: 34px 64px 24.26px 36px;
}

@media screen and (max-width: 425px) {
    .edit-box__title {
        font-size: 18px;
        line-height: 22px;
    }
}

.edit-box__text {
    width: 83.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    vertical-align: text-top;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 36px;
    margin-top: 29.74px;
    padding-bottom: 13.26px;
}

.edit-box__submit {
    width: 83.5%;
    min-height: 50.15px;
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 48px auto 36.51px;
}

.edit-box__submit:hover {
    background: rgba(0, 0, 0, 0.8)
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0;
    max-width: 68.75%;
    padding-top: 36.25px;
    padding-bottom: 46.25px;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 680px) {
    .profile {
        flex-direction: column;
        max-width: 88.12%;
        padding-top: 38.25px;
        padding-bottom: 36px;
    }
}

.profile__pic {
    border-radius: 50%;
    max-width: 127.5px;
    min-height: 127.5px;
}

.profile__text {
    display: flex;
    flex-direction: column;
    margin-left: 3.75px;
    margin-right: 18px;
}

.profile__top-row {
    display: flex;
    flex-direction: row;
}

.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF; 
    margin-bottom: 0px;
}

@media screen and (max-width: 680px) {
    .profile__name {
        text-align: center;
        font-size: 22px;
        line-height: 27px;
    }
}

.profile__descriptor {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;  
    margin-top: 16px;
    margin-bottom: 24.75px;
}

@media screen and (max-width: 680px) {
    .profile__descriptor {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}

.profile__edit-button {
    max-width: 24px;
    height: 24px;
    object-fit: contain;
    padding: 7px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-left: 18px;
    align-self: flex-end;
    margin-bottom: 8px;
}

@media screen and (max-width: 425px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        padding: 5.25px;
    }
}

.profile__edit-button:hover {
    opacity: .6;
    border: 1px solid rgba(255, 255, 255, .6);
}

.add-song-button {
    width: 150px;
    height: 50px;
    object-fit: contain;
    padding: 14px 64px;
    border: 2px solid #fff;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}

.add-song-button:hover {
    opacity: .6;
    border: 1px solid rgba(255, 255, 255, .6);
}

@media screen and (max-width: 1050px) {
    .add-song-button {
        position: relative;
    }
} 

@media screen and (max-width: 680px) {
    .add-song-button {
        width: 100%;
    }
} 

.places {
    max-width: 68.75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(282px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 17px;
    margin: auto;
}

@media screen and (max-width: 380px) {
    .places {
        max-width: 88.12%;
    }
}

.place {
    max-width: 282px;
}

.place__image {
    display: block;
    object-fit: cover;
    max-width: 100%;
    min-height: 282px;
}

.place__info {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 79px;
    align-items: center;
    padding-left: 21px;
    padding-right: 15px; 
}

.place__name {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.place__like-button {
    max-width: 21px;
    min-height: 19px;
}

.place__like-button:hover {
    opacity: .5;
}

.place__like-button:active {
    fill:rgb(0, 0, 0)
}

.footer {
    margin: 0 auto 0;
    max-width: 68.75%;
}

.footer-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;  
    color: #545454;
    padding-top: 68px;
    padding-bottom: 60px;
    margin: 0;
}

@media screen and (max-width: 680px) {
    .footer {
        max-width: 88.12%;
    }
}