.edit-box__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 330px;
    height: 23px;
    margin: 34px 64px 24.26px 36px;
}

@media screen and (max-width: 425px) {
    .edit-box__title {
        font-size: 18px;
        line-height: 22px;
    }
}