.place__button {
    width: 21px;
    height: 19px;
    cursor:pointer;
    border: none;
    outline: none;
    background-image: url("../../../images/heart.svg");
    background-color: rgba(255, 255, 255, 0);
}

.place__button:hover {
    opacity: .5;
}