.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    padding-top: 68px;
    padding-bottom: 60px;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .footer-text {
        font-size: 14px;
        line-height: 17px;
    }
}