.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    margin-bottom: 0px;
}

@media screen and (max-width: 680px) {
    .profile__name {
        text-align: center;
        font-size: 22px;
        line-height: 27px;
    }
}