.edit-box__exit {
    height: 40px;
    width: 40px;
    margin-top: -10%;
    margin-left: 100%;
    cursor:pointer;
}

.edit-box__exit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 680px) {
    .edit-box__exit {
        height: 26px;
        width: 26px;
        left: 85%;
    }
}
