.profile__add-place-button {
    width: 150px;
    height: 50px;
    background-image: url("../../../images/add-place-button.svg");
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    padding: 14px 64px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__add-place-button:hover {
    opacity: .6;
    border: 1px solid rgba(255, 255, 255, .6);
}

@media screen and (max-width: 680px) {
    .profile__add-place-button {
        margin-left: 0;
        width: 100%;
        background-image: url(../../../images/add-place-button-small.svg);
    }
} 