@import url(./__submit/edit-box__submit.css);
@import url(./__text/edit-box__text.css);
@import url(./__title/edit-box__title.css);
@import url(./__text/_type/edit-box__text_type_descriptor.css);
@import url(./__text/_type/edit-box__text_type_name.css);
@import url(./__text-error/edit-box__text-error.css);


.edit-box {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

@media screen and (max-width: 680px) {
    .edit-box {
        width: 88.125%;
    }
}