@import url(./_type/popup__container_type_opened.css);
@import url(./_type/popup__container_type_closed.css);

.popup__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
}